.contenedordetail{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.contenedorimagendetails{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgba(16, 15, 15, 0.491);
    margin: 35px 0px 0px 70px;
    width: 340px;
    height: 487px;
}

.imagendetails{
    height: 390px;
    width: 240px;
}

.titulodetails{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 30px;
    padding: 17px;
    background-color:rgba(16, 15, 15, 0.491);
    justify-content: center;
    color: white;
    margin: 35px 30px 5px 30px;
}

.buttonFav{
    padding-left: 10px;
    color: white;
    cursor: pointer;
}

.enFav{
    color: red;
}

.buttonFav :hover{
    color: #583577;
}

.contenedorFav{
    margin-top: 30px;
    margin-left: 25px;
}
.infoDetail{
    padding-left: 50px;
    color: white;
    width: 550px;
    margin-top: 20px;
}

.listaDetail{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 4px;
}

.datos{
    color: white;
}

.sinopsis{
    margin-bottom: 0px;
    text-align: justify;
    font-size: 16px;
    color: #9e80b8;
}
