.contenedordetail{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.contenedorimagendetails{
    background-color:rgba(16, 15, 15, 0.491);
    margin: 35px 0px 0px 70px;
    width: 440px;
    height: 587px;
}

.imagendetails{
    height: 490px;
    width: 340px;
    margin: 30px 0px -30px 43px;
}

.titulodetails{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 30px;
    padding: 10px;
    background-color:rgba(16, 15, 15, 0.491);
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px;
}

.button{
    border-radius: 25px;
    color: white;
    padding: 5px;
    margin: 40px 0px 10px 120px;
}

.infoDetail{
    padding-left: 3vw;
    color: white;
    width: 45vw;
    margin-top: 15px;
}

.listaDetail{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 4vh;
}

.datos{
    color: white;
}
