.form{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-top: 20px;
}

.search{
    width: 500px;
    display: flex;
}

.input{
    width: 100%;
    border: 3px solid #4c1081;
    border-right: none;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    outline: none;
}

.buttonSearch{
    width: 48px;
    height: 50px;
    border: 1px solid #4c1081;
    background: #4c1081;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 20px;
}
.buttonSearch :hover{
    color: #9864c5;
}