.characterCard{
    width: 20%;
}

.titulo_peli{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
}

.poster{
    width: 260px;
    height: 380;
}

.buttonFav{
    padding-left: 7px;
    color: white;
    cursor: pointer;
}

.enFav{
    color: red;
}

.buttonFav :hover{
    color: #583577;
}

.buttonInfo{
    background-color:#583577;
    width: 110px;
    height: 35px;
    padding: 8px;
    border-radius: 15px;
    color: white;
    font-size: 13px;
    margin-bottom: 25px;
    border: 1.5px solid #E0E1E4;
    cursor: pointer;
}